[named]
module = 'named'

interval = 10
lld_interval = 10

# NOTICE
#  - bbd user needs permission to execute rndc.
#    edit /etc/blackbird/defaults.cfg and change user and group.
#
#    user = root
#    group = root
#
#  - if you do not need rndc information, comment out 'rndc-path'
rndc_path = '/usr/sbin/rndc'

# statistics-channels
#  - please set statistics-channels in named.conf
#
# ex)
# statistics-channels {
#         inet 127.0.0.1 port 5353 allow { 127.0.0.1/32; };
# };
#
statistics_host = '127.0.0.1'
statistics_port = '5353'
